*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background-color: rgb(39, 38, 38);
    width: 100%;
    height: 100vh;
}
header{
    height: 3%;
    background-color: red;
}
main{
    height: 89%;
}
nav {
    background-color: black;
    height: 8%;
    
    
    
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    
    
    
    
}
 main{
    padding: 0 0.5%;
 }

.preview {
    
    width: calc((100% / 7) - 1.5%  );
    height: calc(100 / 5);
    margin-top: 1%;
    
    
    
}
.text-preview {
    background-color: rgb(39, 38, 38, 0.8) ;
   
    
    position: absolute;
    bottom: 5% ;
    left: 1%;
    
    padding: 3px;
}

.position{
    position: relative;
   
}



a, i {
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
}

.left{ 
    width: 10%
}

.right{
    background-color: lightslategray;
    color: red;
    text-align: center;
    line-height: 65px;
    width: 10%;
    
    
}

h3 {
    color: white;
   
}

.center {
    width: 80%;
    
}
.tool-bar-button{
    width: calc((100% / 8) - 24% );
    
    
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-button{
    width: calc(100% - 2);
    text-align: center;
    margin: 0 3%;
}




    