*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
}
header{
    max-height: 3%;    
    text-align: right;
    padding-right: 2%;
    padding-top: 0.2%;
    position: fixed;
    min-width: 100%;
    z-index: 1;
}
main{
    max-height: 92%;
    overflow: scroll;
    
}
nav {
    background-color:rgb(39, 38, 38);
    max-height: 8%;
    position: absolute;
    bottom: 0;    
    z-index: 1;
    min-width: 100%;
}

/* HEADER BAR */
.size{
    background-color:rgb(39, 38, 38);
    max-width: 1%;    
    display: inline-block;
    border-radius: 5px;
    padding-right: 0.15%;
}

.headtext {    
    background-color:rgb(39, 38, 38);
    max-width: 6%;
    display: inline-block;
    border-radius: 5px;
    font-size: clamp(15px, 1vh, 15px);    
}

.fa-maximize, .fa-table-cells {
    font-size: clamp(13px, 1vh, 13px);
}

/* MAIN SECTION */

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.preview {
    max-width: 24.5rem;
    max-height: 13rem;
    margin: 1% 0.3%;
}

.text-preview {
    background-color: rgb(39, 38, 38, 0.8) ;
    position: absolute;
    bottom: 5% ;
    left: 1%;
    padding: 3px;
    white-space: nowrap;
    max-width: 55%;
}

.position{
    position: relative;     
}

img{
    object-fit: contain;
    max-width: 100%;    
}

/* width scroll-bar */
::-webkit-scrollbar {
    width: 5px;
    height: 1%;
}
  
/* Track scroll-bar */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
/* Handle scroll-bar */
::-webkit-scrollbar-thumb {
    background: rgb(65, 63, 63);
    border-radius: 10px;
}



/* TOOLBAR */
.flex-container-toolbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.row{
    display: flex;
    flex-wrap: wrap ;    
    align-items: center;
    justify-content: space-between;
    max-height: 8%;
    max-width: 100%;
}

.left{ 
    max-width: 10%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.right{
    background-color: lightslategray;
    color: red;    
    vertical-align: middle;
    max-width: 10%;
    max-height: 7.5%;
    padding: 1rem 3rem;
}

span {    
    height: 5%;
    font-size: 12px;
    white-space: nowrap;
    padding-right: 0.5rem;
    
   
}
.mpc, .fa-user-group{
    padding-right: 20rem;
}

.center {
    max-width: 80%;
    max-height: 8%;    
}

.tool-bar-button{
    max-width: calc((100% / 9) - 36% );
    max-height: 100%;
    margin:0 0.5rem ;       
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

.right-button{
    max-width: calc(100% - 2);
    max-height: 100%;
    
    text-align: center;
    margin: 1% 8%;
    

}

i {
    font-size: 25px;
    margin-bottom: 3px;
}

.fa-share-from-square{
    color: green;
}






    