*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background-color: rgb(39, 38, 38);
    width: 100%;
    height: 100vh;
}
header{
    height: 3%;
    background-color: red;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5%;
    margin-left: 1%;
    
    
    
    
}

.preview {
    
    width: calc((100% / 7) - 1.5%  );
    height: calc(100 / 5);
    margin-top: 1%;
    
    
    
}
.text-preview {
    background-color: rgb(39, 38, 38, 0.8) ;
   
    
    position: absolute;
    bottom: 5% ;
    left: 1%;
    
    padding: 3px;
}

.position{
    position: relative;
   
}



a, i {
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap ;
}
.center > i {
    font-size: 26px;
    margin-right: 2.7%;
    width: calc((100% / 8) - 3%) ;
  s
    

 }

.center > h3 {
    font-size: 15px;
    margin-right: 2.8%;
    margin-top: 1%;
    width: calc((100% / 8) - 3%) ;
    color: white;
    
    ;

}

.left > i {
    font-size: 25px;
    color: white;
    width: calc(100% / 2);
    
}

.left > h3 {
    font-size: 18px;
    color: white;
    width: calc(100% / 2);
    text-align: left;
    padding-top: 2%;
    margin-top: 1.5%;
}



    