*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
}
header{
    height: 3%;    
    text-align: right;
    padding-right: 2%;
    padding-top: 0.2%;
}
main{
    height: 89%;
}
nav {
    background-color:rgb(39, 38, 38);
    height: 8%; 
}

/* HEADER BAR */
.size{
    background-color:rgb(39, 38, 38);
    width: 1%;    
    display: inline-block;
    border-radius: 5px;
    padding-right: 0.15%;
}

.headtext {    
    background-color:rgb(39, 38, 38);
    width: 6%;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
}

.fa-maximize, .fa-table-cells {
    font-size: 13px;
}

/* MAIN SECTION */

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main{
    padding: 0 0.5%;
}

.preview {
    width: calc((100% / 7) - 1.5%  );
    height: calc(100 / 5);
    margin-top: 1%;
}

.text-preview {
    background-color: rgb(39, 38, 38, 0.8) ;
    position: absolute;
    bottom: 5% ;
    left: 1%;
    padding: 3px;
}

.position{
    position: relative;
}

/* TOOLBAR */

.row{
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
}

.left{ 
    width: 10%
}

.right{
    background-color: lightslategray;
    color: red;
    text-align: center;
    line-height: 65px;
    width: 10%;
}

h3 {    
    height: 5%;
    font-size: 12px;
    white-space: nowrap;
}

.center {
    width: 80%;
}

.tool-bar-button{
    width: calc((100% / 8) - 32% );
    margin: 0 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.right-button{
    width: calc(100% - 2);
    text-align: center;
    margin: 0 3%;
}

i {
    font-size: 25px;
    margin-bottom: 3px;
}

.fa-share-from-square{
    color: green;
}






    